<html>
<head>
  <meta charset=utf-8>
  <meta name="description" content="CSS Tabs" />
  <link rel="stylesheet" href="/css/login.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/js/request.js"></script>
  <title>Main Login</title>
</head>

<body>
  <div id="app" class="tabbed">

    <div v-if="isLogin">
      <div @click.prevent="getInfo()" style="cursor: pointer;">
        <h3>DO CLICK @ ( /user/info )</h3>
      </div>
      
      <br/><br/><br/>
    </div>

    <h1>{{ isLogin ? 'login!!' : 'hello' }}</h1>


    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">Log in</label>

    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">Sign Up</label>

    <input type="radio" name="tabs" id="tab-nav-4">

    <div class="tabs">
      <div>
        <h2>Log in</h2>
        <input type="text" v-model="userId" class="inputItem" placeholder="Username">
        <p></p>
        <input type="password" v-model="pswd" class="inputItem" placeholder="Password">
        <p></p>
        <input type="button" class="buttonItem" value="Log in" @click.prevent="login()">
      </div>


      <div>
        <h2>Sign up</h2>
        <input type="text" v-model="signUpId" class="inputItem" placeholder="Username">
        <p></p>
        <input type="password" v-model="signUpPw" class="inputItem" placeholder="Password">
        <p></p>
        <input type="button" class="buttonItem" value="Sign up" @click.prevent="signUp()">
      </div>
    </div>
    

  </div>


  <script>
    const app = new Vue({
      el: '#app',
      data: {
        userId: '',
        pswd: '',

        signUpId: '',
        signUpPw: '',

        isLogin: false
      },
      methods: {

        login() {
          const body = {
            userId: this.userId,
            pswd: this.pswd
          }

          post('/main/login', body)
            .then(res => {
              alert(res.message);
              console.log(res);
              if (res.status === 200) {
                app.isLogin = true;
              }
              if (res.data.tokenType === 'Bearer') {
                document.cookie = "R_TOKEN=" + res.data.refreshToken;
                tokenStore.access_token = res.data.accessToken;
              }
            })
            .catch(err => console.log(err));
        },

        signUp() {
          const body = {
            userId: this.signUpId,
            password: this.signUpPw
          }

          post('/user/signUp', body)
            .then(res => alert(res.message))
            .catch(err => console.log(err));
        },


        getInfo() {
          get('/user/info')
            .then(res => {
              alert("User ID is = " + res.data);
              console.log(res);
            })
            .catch(err => console.log(err));
        }

      }
    })
  </script>
</body>
</html>